#content{
  height:500px; 
  border: 2px solid white; 
  text-align: center; 
  color: rgb(18, 18, 18);
  padding: 20px;
  

} 
#left-content {
  width: 30%; 
  height: 100%;
  background-color: #f9f7f7;
  /* border: 1px solid #ccc; */
  border-radius: 8%;
  padding-top:20px;
  float: left;
}
#left-content img{
  margin: 40px;
  border-radius: 10%;

}
#main-content{
  width:65%; 
  height: 100%;
  padding-top: 20px;
  background-color: #f9f7f7;
  /* border: 1px solid #ccc; */
  border-radius: 8%;
  float: right;
  
}